[Desktop Entry]
Type=Application
Name=Ranger
GenericName=File Browser
Comment=Launches the ranger file manager
Icon=utilities-terminal
Terminal=true
# Run script to make ranger have PyWal colors
Exec=./Ubuntu-Config/scripts/openRangerWithWalColors.sh
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
